.conainer{
    display: grid;
    grid-template-rows: 7vh 85vh auto;
    grid-template-areas:    'toolbar'
                            'main-content'
                            'footer';
    overflow: hidden;

    .toolbar {
        grid-area: toolbar;
    }
    
    .main-content {
        grid-area: main-content;
    }
    
    .footer {
        grid-area: footer;
    }
}
